body {
  background-color: green;
}

.common {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

dialog::backdrop { /* native */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

dialog + .backdrop { /* polyfill */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.toastModal::backdrop {
  background-color: rgba(0,0,0,0.1);
}

.buttonBlock {
  margin: 8px;
}

.toastContainer {
  z-index: 100000;
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
}

.myToast {
  background-color: white;
  width: 350px;
}
