body {
  background-color: green;
}

dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.buttonBlock {
  margin: 8px;
}

.toastContainer {
  z-index: 100000;
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
}

.myToast {
  background-color: white;
}
